<ul class="list-group list-group-flush">
    <li *ngFor="let number of [0,1,2,3,4,5]" class="list-group-item p-0">
        <div class="d-flex flex-row align-items-center">
            <div class="text-center m-3">
                <div class="circle loading"></div>
            </div>
            <div class="m-2">
                <div>
                    <span class="loading">loadingloadingloadingloadingloading</span>
                </div>
                <div>
                    <small><span class="loading">loadingloading</span></small>
                </div>
            </div>
        </div>
    </li>
</ul>