
<form>
    <div class="mb-0 form-group">
        <label class="col-form-label mb-0">Category:</label>
        <select class="form-control form-control-lg">
            <option>Books</option>
            <option>Clothes</option>
            <option>Miscellaneous</option>
            <option>Pounds</option>
        </select>
    </div>
    <div class="mb-0 form-group">
        <label class="col-form-label">Amount:</label>
        <input type="number" class="form-control form-control-lg">
    </div>
</form>
<!--<div class="row">
    <div class="col-12">
        Progress
        <div class="progress" style="height: 60px;">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%;">1/10</div>
        </div>
    </div>
</div>-->
<!--<div class="row">
    <div class="col-6 text-center">
        <h5>Old Balance</h5>
        <h1 class="text-secondary">3</h1>
    </div>
    <div class="col-6 text-center">
        <h5>New Balance</h5>
        <h1 class="text-success">4</h1>
    </div>
</div>-->
<div class="border bg-dark fixed-bottom d-sm-block d-md-none">
    <div class="row p-1">
        <div class="col-12">
            <button class="btn btn-danger btn-block btn-purge text-white p-2">
                <h2>
                    <span>Purge</span>
                </h2>
            </button>
        </div>
    </div>
    <div class="row px-1 py-0 pb-1">
        <div class="col-12">
            <button class="btn btn-primary btn-block btn-purge p-2" routerLink="/dashboard">
                <h2>
                    <span>Cancel</span>
                </h2>
            </button>
        </div>
    </div>
</div>