<form>
    <div class="form-group mb-0">
        <input type="email" class="form-control form-control-lg" placeholder="Email Address">
    </div>
    <div class="form-group mb-1">
        <input type="password" class="form-control form-control-lg" placeholder="Password">
    </div>
    <div class="form-group mb-4">
        <span class="switch">
            <input type="checkbox" class="switch" id="remember-me-id">
            <label for="remember-me-id">Remember Me</label>
        </span>
    </div>
    <button type="button" class="btn btn-lg btn-primary btn-block" (click)="submit($event)"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</button>
</form>