<form (ngSubmit)="login($event)" novalidate>
    <div class="form-group mb-0">
        <input name="fEmail" type="email" class="form-control form-control-lg" placeholder="Email Address" required>
    </div>
    <div class="form-group mb-1">
        <input name="fPassword" type="password" class="form-control form-control-lg" placeholder="Password" required>
    </div>
    <div class="form-group mb-4">
        <span class="switch">
            <input name="fRememberMe" type="checkbox" class="switch" id="remember-me-id">
            <label for="remember-me-id">Remember Me</label>
        </span>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</button>
</form>