<div class="container-fluid full-height p-0 pb-2">
    <div class="d-flex h-100 flex-column">
        <app-nav-bar *ngIf="user!=null"></app-nav-bar>
        <router-outlet></router-outlet>
    </div>
        
</div>
<div class="container-fluid full-height p-0 pb-2" id="mainContent" hidden>
    
</div>
<div class="container-fluid full-height p-0 pb-2" id="purgeContent" hidden>
    <div class="d-flex h-100 flex-column">
        <div class="row text-white bg-danger p-1 m-0">
            <div class="col-auto">
                <i class="fa fa-bars"></i>
            </div>
            <div class="col">
                <h5 class="mb-1">Purge</h5>
            </div>
        </div>
        <form>
            <div class="pl-2 pr-2 mb-0 form-group">
                <label class="col-form-label mb-0">Category:</label>
                <select class="form-control form-control-lg">
                    <option>Books</option>
                    <option>Clothes</option>
                    <option>Miscellaneous</option>
                    <option>Pounds</option>
                </select>
            </div>
            <div class="pl-2 pr-2 mb-0 form-group">
                <label class="col-form-label">Amount:</label>
                <input type="number" class="form-control form-control-lg">
            </div>
        </form>
        <hr class="mt-2 mb-0">
        <div class="row p-2 mt-1">
            <div class="col-12">
                Progress
                <div class="progress" style="height: 60px;">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%;">1/10</div>
                </div>
            </div>
        </div>
        <div class="row mt-auto">
            <div class="col-6 text-center">
                <h5>Old Balance</h5>
                <h1 class="text-secondary">3</h1>
            </div>
            <div class="col-6 text-center">
                <h5>New Balance</h5>
                <h1 class="text-success">4</h1>
            </div>
        </div>
        <div class="row p-1 mt-auto">
            <div class="col-12">
                <button class="btn btn-primary btn-block">
                    <h2>
                        <span>Back</span>
                    </h2>
                </button>
            </div>
            <div class="col-12 mt-2">
                <button class="btn btn-danger btn-block text-white">
                    <h2>
                        <span>Purge It</span>
                    </h2>
                </button>
            </div>
        </div>
    </div>
</div>