<div class="container-fluid full-height" id="login" hidden>
    <div class="d-flex h-100 flex-column justify-content-center">
        <div class="row mb-4 justify-content-center">
            <h1 class="mb-0"><span class="text-danger">Purge</span> It</h1>
        </div>
        <!--<div class="row mb-4 justify-content-center">
            <h3 class="text-muted">Because it has to go.</h3>
        </div>-->
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-12 justify-content-left">
                <form>
                        <div class="form-group mb-0">
                            <input type="email" class="form-control form-control-lg" placeholder="Email Address">
                        </div>
                        <div class="form-group mb-1">
                            <input type="password" class="form-control form-control-lg" placeholder="Password">
                        </div>
                        <div class="form-check mb-4">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="remember me">
                                Remember Me
                            </label>
                        </div>                    
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid full-height p-0 pb-2" id="mainContent">
    <div class="d-flex h-100 flex-column">
        <div class="row text-white bg-danger p-1 m-0">
            <div class="col-auto">
                <i class="fa fa-bars"></i>
            </div>
            <div class="col">
                <h5 class="mb-1">Progress</h5>
            </div>
        </div>
        <div class="row p-1 m-1 h-75 mb-auto scroll-y">
            <div class="col">
                <div class="row">
                    <div class="col-11">
                        Books
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;">5/10</div>
                        </div>
                    </div>
                    <div class="col-1 text-center p-0">
                        <i class="fa fa-credit-card"></i>
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%;">4</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        Clothes
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;">3/4</div>
                        </div>
                    </div>
                    <div class="col-1 text-center p-0">
                        &nbsp;
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;">0</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        Miscellaneous
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;">3/4</div>
                        </div>
                    </div>
                    <div class="col-1 text-center p-0">
                        &nbsp;
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;">0</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        Pounds
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;">3/4</div>
                        </div>
                    </div>
                    <div class="col-1 text-center p-0">
                        &nbsp;
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-1 mb-2">
            <div class="col-12">
                <button class="btn btn-success btn-block text-white p-4">
                    <h2>
                        <i class="fa fa-shopping-cart mr-2"></i>
                        <span>Spend Credits</span>
                    </h2>
                </button>
            </div>
        </div>
        <div class="row p-1 mb-2">
            <div class="col-12">
                <button class="btn btn-danger btn-block btn-purge text-white p-4">
                    <h2>
                        <i class="far fa-trash-alt mr-2"></i>
                        <span>Purge</span>
                    </h2>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid full-height p-0 pb-2" id="purgeContent" hidden>
    <div class="d-flex h-100 flex-column">
        <div class="row text-white bg-danger p-1 m-0">
            <div class="col-auto">
                <i class="fa fa-bars"></i>
            </div>
            <div class="col">
                <h5 class="mb-1">Purge</h5>
            </div>
        </div>
        <form>
            <div class="pl-2 pr-2 mb-0 form-group">
                <label class="col-form-label mb-0">Category:</label>
                <select class="form-control form-control-lg">
                    <option>Books</option>
                    <option>Clothes</option>
                    <option>Miscellaneous</option>
                    <option>Pounds</option>
                </select>
            </div>
            <div class="pl-2 pr-2 mb-0 form-group">
                <label class="col-form-label">Amount:</label>
                <input type="number" class="form-control form-control-lg">
            </div>
        </form>
        <hr class="mt-2 mb-0">
        <div class="row p-2 mt-1">
            <div class="col-12">
                Progress
                <div class="progress" style="height: 60px;">
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%;">1/10</div>
                </div>
            </div>
        </div>
        <div class="row mt-auto">
            <div class="col-6 text-center">
                <h5>Old Balance</h5>
                <h1 class="text-secondary">3</h1>
            </div>
            <div class="col-6 text-center">
                <h5>New Balance</h5>
                <h1 class="text-success">4</h1>
            </div>
        </div>
        <div class="row p-1 mt-auto">
            <div class="col-12">
                <button class="btn btn-primary btn-block">
                    <h2>
                        <span>Back</span>
                    </h2>
                </button>
            </div>
            <div class="col-12 mt-2">
                <button class="btn btn-danger btn-block text-white">
                    <h2>
                        <span>Purge It</span>
                    </h2>
                </button>
            </div>
        </div>
    </div>
</div>