<div class="row m-1 pb-2" id="collapseProgress">
    <div class="col">
        <div class="row" *ngFor="let p of progressList; let i = index;">
            <div class="col-10 col-md-10 p-1">
                {{p.category}}
                <div class="progress" style="height: 30px;">
                    <div class="progress-bar" role="progressbar" [style.width.%]="(p.current_count/p.max_count)*100"></div>
                    <span>{{p.current_count}}/{{p.max_count}}</span>
                </div>
            </div>
            <div class="col-2 col-md-1 text-center p-1">
                <i *ngIf="i==0" class="fa fa-credit-card"></i>
                <span *ngIf="i>0">&nbsp;</span>
                <div style="height: 30px;">
                    <button class="btn btn-sm btn-block btn-success p-0 pb-1" style="height: 30px;" [disabled]="p.credits==0">{{p.credits}}</button>
                </div>
            </div>
            <div class="d-none d-md-block col-md-1 text-center p-1">
                <span >&nbsp;</span>
                <div style="height: 30px;">
                    <button class="btn btn-sm btn-block btn-danger p-0 pb-1" style="height: 30px;" (click)="purge(p)">Purge</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="border bg-dark fixed-bottom d-sm-block d-md-none">
    <div class="row p-1">
        <div class="col-12">
            <button class="btn btn-danger btn-block btn-purge text-white p-2" routerLink="/purge">
                <h2>
                    <span>Purge</span>
                </h2>
            </button>
        </div>
    </div>
    <div class="row px-1 py-0 pb-1">
        <div class="col-12">
            <button class="btn btn-success btn-block text-white p-2">
                <h2>
                    <span>Spend Credits</span>
                </h2>
            </button>
        </div>
    </div>
</div>
