<div>
    <div class="row text-white bg-danger p-1 m-0">
        <div class="col-auto">
            <i class="fa fa-bars"></i>
        </div>
        <div class="col">
            <h5 class="mb-1">Progress</h5>
        </div>
    </div>
    <div class="row p-1 m-1 h-75 mb-auto scroll-y">
        <div class="col">
            <div class="row">
                <div class="col-11">
                    Books
                    <div class="progress" style="height: 30px;">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;">5/10</div>
                    </div>
                </div>
                <div class="col-1 text-center p-0">
                    <i class="fa fa-credit-card"></i>
                    <div class="progress" style="height: 30px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%;">4</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-11">
                    Clothes
                    <div class="progress" style="height: 30px;">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;">3/4</div>
                    </div>
                </div>
                <div class="col-1 text-center p-0">
                    &nbsp;
                    <div class="progress" style="height: 30px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;">0</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-11">
                    Miscellaneous
                    <div class="progress" style="height: 30px;">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;">3/4</div>
                    </div>
                </div>
                <div class="col-1 text-center p-0">
                    &nbsp;
                    <div class="progress" style="height: 30px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;">0</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-11">
                    Pounds
                    <div class="progress" style="height: 30px;">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%;">3/4</div>
                    </div>
                </div>
                <div class="col-1 text-center p-0">
                    &nbsp;
                    <div class="progress" style="height: 30px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;">0</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-1 mb-2">
        <div class="col-12">
            <button class="btn btn-success btn-block text-white p-4">
                <h2>
                    <i class="fa fa-shopping-cart mr-2"></i>
                    <span>Spend Credits</span>
                </h2>
            </button>
        </div>
    </div>
    <div class="row p-1 mb-2">
        <div class="col-12">
            <button class="btn btn-danger btn-block btn-purge text-white p-4">
                <h2>
                    <i class="far fa-trash-alt mr-2"></i>
                    <span>Purge</span>
                </h2>
            </button>
        </div>
    </div>
</div>